Source: ros-melodic-rosthrottle
Section: misc
Priority: extra
Maintainer: Carson Schubert <carson.schubert14@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rosthrottle
Standards-Version: 3.9.2

Package: ros-melodic-rosthrottle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-topic-tools
Description: ROS Python package for throttling ROS topics programatically in Python.
 Sits on top of the ros_comm topic_tools throttle utility.
